<section id="two" class="wrapper alt style2">

	{% for post in site.posts limit:site.tiles-count %}{% if site.tiles-source == 'posts' %}

	<section class="spotlight">
		<div class="image"><img src="{% if page.image %}{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}{% endif %}" alt="" /></div>
		<div class="content">
			<h2><a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a></h2>
			<p>{{ post.description }}</p>
		</div>
	</section>

	{% endif %}{% endfor %}
	{% for page in site.pages limit:site.tiles-count %}{% if site.tiles-source == 'pages' %}{% if page.layout == 'default' %}{% continue %}{% endif %}

	<section class="spotlight">
		<div class="image"><img src="{% if page.image %}{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}{% endif %}" alt="" /></div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</div>
	</section>

	{% endif %}{% endfor %}

</section>
